.about {
  background-color: #494949;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
}

.about .title {
  height: 10%;
  text-align: center;
  color: #f5d10d;
}

.about .content {
  display: flex;
  height: 90%;
  width: 100%;
  display: flex;
}

.about .content > * {
  width: 50%;
}

.about .left-section {
  width: 50%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.about .right-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-title {
  text-align: center;
  color: violet;
}

.about .skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

