.home {
  background-color: #181818;
  height: 90vh;
  width: 100%;
}

.home .content {
  display: flex;
  height: inherit;
  padding-left: 4rem;
}

.image-container {
  width: 25%;
  border: 1rem white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
}

.profile-picture > img {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; delet later */
  flex-grow: 1;
}

.intro > h1 {
  font-size: 3rem;
  color: #8cbdd6;
  letter-spacing: 4px;
}

.intro > h6 {
  font-size: 1.5rem;
  color: #396a85;
  font-family: "Brygada 1918", serif;
  font-style: italic;
  margin-top: 0.6rem;
}

.home .buttons-wrapper button {
  width: 7.2rem;
  height: 2.8rem;
  background-color: #e31c25;
  border-style: none;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 5px;
  margin: 3rem 0rem;
  text-align: center;
}

.home .buttons-wrapper button.resume {
  background-color: #41875D;
  margin-left: 1rem;
}

.home .iconify {
  margin-bottom: -3px;
}

.social-media-icons {
  display: flex;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #e31c25;
}

.social-media-icons > i {
  margin: 1rem;
}

.vertical-line {
  border-left: 2px solid #e31c25;
  height: 15rem;
}

@media screen and (max-width: 1158px) {
  .profile-picture {
    width: 12rem;
    height: 12rem;
    margin: 0.5rem;
  }
}


@media screen and (max-width: 1000px) {
  .image-container {
    margin-right: 1rem;
  }
  
  .intro > h1 {
    font-size: 2.4rem;
  }

  .intro > h6 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 916px) {
  .intro > h1 {
    font-size: 2.1rem;
    letter-spacing: 3px;
  }

  .intro > h6 {
    font-size: 1.5rem;
  }

  .profile-picture {
    width: 9.5rem;
    height: 9.5rem;
  }

  .home .buttons-wrapper button {
    width: 6.5rem;
    height: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 765px) {
  .intro > h1 {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  .intro > h6 {
    font-size: 1.2rem;
  }

  .profile-picture {
    width: 8.1rem;
    height: 8.1rem;
  }

  .home .content {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 633px) {
  .social-media-icons {
    width: 3.2rem;
    font-size: 1.9rem;
  }

  .home .buttons-wrapper button {
    width: 5.5rem;
    height: 2.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    letter-spacing: 1px;
  }

  .buttons-wrapper .resume svg {
    margin-left: -4px;
  }

  .profile-picture {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 544px) {
  .profile-picture {
    width: 7rem;
    height: 7rem;
  }

  .intro > h1 {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .intro > h6 {
    font-size: 1rem;
  }

  .home .buttons-wrapper button {
    width: 5rem;
    height: 2rem;
    letter-spacing: 0px;
    font-weight: 400;
  }
}


@media screen and (max-width: 498px) {
  .social-media-icons {
    width: 2.8rem;
    font-size: 1.4rem;
    color: #e31c25;
  }

  .profile-picture {
    width: 6.1rem;
    height: 6.1rem;
  }
}

@media screen and (max-width: 433px) {
  .intro > h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .intro > h6 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .home .buttons-wrapper button {
    width: 4.4rem;
    height: 1.7rem;
    font-weight: 300;
  }

  .profile-picture {
    width: 5.6rem;
    height: 5.6rem;
  }
}

@media screen and (max-width: 400px) {
  .intro > h1 {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  .intro > h6 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .profile-picture {
    width: 5rem;
    height: 5rem;
  }

  .home .buttons-wrapper button {
    width: 4.31rem;
    height: 1.61rem;
    font-weight: 300;
  }

  .social-media-icons {
    width: 2.2rem;
    font-size: 1.2rem;
  }
}