@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}